#oxygeneTitre{
    color: cyan;
    text-align: center;
    font-size: 28px;
}
.miseAJourPDA2{
    background-color: aqua;
    width: 100px;
    border-radius: 2em;
}
.miseAJourPDA2:hover{
    background-color: blue;
    cursor: pointer;
    width: 100px;
    border-radius: 2em;
}
#pertes{
    color: red;
    text-align: center;
    font-size: 45px;
}
#retour{
    color: blueviolet;
    text-align: center;
    font-size: 28px;
}
#retour:hover{
    color: blueviolet;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}
#retour2{
    color: blueviolet;
    text-align: center;
    font-size: 28px;
}
#retour2:hover{
    color: blueviolet;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}
#retour2:hover{
    color: blueviolet;
    text-align: center;
    font-size: 28px;
    cursor: pointer;
}
#mapCanalisations{
    width: 300px;
    height: 300px;
    background-color: cyan;
    background-size: 100%;
    background-image: url('../../img/canalisations.png');
    margin: auto;
}
#indicateurBatterieAuxiliaire2{
    font-size: 36px;
    color: black;
}
#indicateurBatterieAuxiliaire1{
    font-size: 36px;
}
#indicateurBatterieAuxiliaire0{
    font-size: 36px;
    color: cyan;
}
#indicateurBatterieAuxiliaire{
    display: inline-flex;
}
#indicateurBatterie2{
    font-size: 36px;
    color: black;
}
#indicateurBatterie1{
    font-size: 36px;
}
#indicateurBatterie0{
    font-size: 36px;
    color: cyan;
}
#indicateurBatterie{
    display: inline-flex;
}
#indicateurBatterie:hover{
    display: inline-flex;
    border: 1px dashed blue;
}
#indicateurBatterieAuxiliaire:hover{
    display: inline-flex;
    border: 1px dashed blue;
}
#itemAffichage{
    color: cyan;
    text-align: left;
    position: relative;
    left: 12px;
}
.fuite{
    opacity: 77%;
    width: 50px;
    height: 50px;
    font-size: 13px;
    position: relative;
    background-size: 100%;
    padding-top: 10px;
}
.fuite:hover{
    background-image: none;
    background-size: 100%;
    cursor: url('../../img/molette.png'),default;
}
#fuite1{
    left: 82px;
    top: 52px;
}

#fuite2{
    left: 210px;
    top: 104px;
}

.itemClicablePDA{
    color: cyan;
    text-align: left;
    font-size: 20px;
    position: relative;
    left: 12px;
    cursor: pointer;
}
.itemClicablePDA:hover{
    color: greenyellow;
    text-align: left;
    font-size: 20px;
    position: relative;
    left: 12px;
    cursor: pointer;
}
#loadingIcone{
    font-size: 45px;
    color: greenyellow;
    animation-name: "clignoter";
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}
#qteOxygene{
    color: blue;
    font-size: 48px;
    text-align: center;
}
#msgLoading{
    left: 0px;
    font-size: 24px;
    text-align: center;
}
#msgChargementOxygene{
    color: rgb(4, 226, 189);
    font-size: 24px;
    text-align: center;
}
#msgPDA{
    color: rgb(4, 226, 189);
    font-size: 24px;
}
#switch{
    position: relative;
    left: -10px;
    top: 3px;
}

#msgPDA2{
    color: rgb(4, 226, 189);
    font-size: 24px;
}
#msgPDA3{
    color: green;
    font-size: 24px;
    height: 100px;
}
#pda{
    overflow-y: auto;
    width: 400px;
    height: 700px;
    background-color: black;
    margin: auto;
    text-align: center;
}
#imgPDA{
    border: blue 1px solid;
    width: 400px;
    margin: auto;
    height: 250px;
}
#mapAsteroide{
    width: 100px;
    height: 100px;
    border: 1px rgb(4, 226, 189) solid;
    margin: auto;
    overflow: hidden;
}
#mapAsteroideVaisseau{
    border: 1px rgb(4, 226, 189) solid;
    top: 84px;
    left: 46px;
    position: relative;

}
.asteroide{
    background-color: rgb(4, 226, 189);
    position: relative;
}
#valeurBatterie{
    position: relative;
    color: cyan;
    font-size: 45px;
    text-align: center;
}
#valBatterieBouclier{
    color: cyan;
    font-size: 45px;
}
#valeurEnergieDediee{
    color: cyan;
    font-size: 45px;
}
#valeurBatterie3{
    color: cyan;
    font-size: 45px;
}
#valBatterieAAjouter{
    color: cyan;
    font-size: 45px;
}
#valeurBatterie2{
    color: cyan;
    font-size: 45px;
}
#ajoutBatterieBouclierDiv{
    display: flex;
    margin-left: 45%;
}
#ajoutBatterieBouclierSpan1{
    top: 31px;
    position: relative;
    color: blue;
    right: 40px;
}
#ajoutBatterieBouclierSpan11{
    top: 140px;
    position: relative;
    color: blue;
    right: 60px;
}
#ajoutBatterieBouclierSpan2{
    top: 31px;
    position: relative;
    color: red;
    left: 40px;
}
#ajoutBatterieBouclierSpan22{
    top: 50px;
    position: relative;
    color: red;
    left: 60px;
}
#ajoutBatterieBouclierSpan3{
    top: 21px;
    font-size: 34px;
    left: 50px;
    position: relative;
    color: green;
}
#ajoutBatterieBouclierSpan33{
    font-size: 34px;
    position: relative;
    color: green;
}
#jaugeVieBouclier0{
    color: cyan;
}
#jaugeVieBouclier1{
    color: greenyellow;
}
#jaugeVieBouclier2{
    color: black;
}
#msgBouclier{
    font-size: 24px;
}
#jaugeVieBouclierDiv{
    font-size: 47px;
    margin-left: 27%;
    display: flex;
}