@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    background-color: darkgray;
    border: solid black 3px;
    
}

#menu{
    position: fixed;
    background-color: azure;
    border: solid black 2px;
    width: 350px;
    height: 400px;
    padding: 10px;
    font-size: 22px;

}

.main{
    display: flex;
    flex-direction: column;
}

.oxygen{
    order: 1;
    padding: 40px;
    margin: auto;
}

.vide{
    width: 500px;
}

.oxygen h3{
    text-align: center;
}

#oxygen-nb{
    margin-left: 235px;
    margin-top: 20px;
}
#vie-nb{
    text-align: center;
}

#barre-vide{
    position: absolute;
    z-index:0;
    width: 500px;
    height: 80px;
    background-color: cornsilk;
    border: solid black 1px;
}
#barre-vide2{
    margin: auto;
    position: absolute;
    z-index:0;
    width: 50px;
    height: 20px;
    background-color: cornsilk;
    border: solid black 1px;
}

#barre-oxygen{
    width:500px;
    z-index: 1;
    height: 80px;
    background-color: rgb(48, 162, 207);
    border: solid black 0.5px;
    position: relative;
}
#barre-vie{
    width:50px;
    z-index: 1;
    height: 20px;
    background-color: green;
    border: solid black 0.5px;
    position: relative;
}

.btn{
    color: white;
    font-size: 18px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-jardin{
    float: right;
    background-color: rgb(39, 54, 39);
}

.btn-oxygen{
    float: left;
    background-color: rgb(5, 23, 105);
    color: white;
    font-size: 18px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif   ;
}

.vie{
    order: 2;
}

.vie h3{
    text-align: center;
}

.vaisseaux{
    margin: auto;
    width: 250px;
    height: 320px;
}

#haut{
    background-color: rgb(98, 139, 192);
    margin: auto;
    border: solid black 1px;
    border-bottom: transparent;
    width: 60px;
    height: 50px;
}

#centre{
    background-color: rgb(98, 139, 192);
    margin: auto;
    border: solid black 1px;
    width: 80px;
    height: 50px;
}

#gauche{
    margin: auto;
    width: 86px;
    height: 80px;
    border-top: 18px solid rgb(61, 57, 57);
    border-bottom: 18px solid rgb(61, 57, 57);
    border-left: 30px solid rgb(98, 139, 192);;
    float: left;
}

#droite{
    margin: auto;
    border-top: 18px solid rgb(61, 57, 57);
    border-bottom: 18px solid rgb(61, 57, 57);
    border-right: 30px solid rgb(98, 139, 192);;
    width: 86px;
    height: 80px;
    float: right;
}

#bas{
    background-color: rgb(98, 139, 192);
    margin: auto;
    border: solid black 1px;
    width: 80px;
    height: 100px;
}

#bas-bas{
    background-color: rgb(98, 139, 192);
    margin: auto;
    border: solid black 1px;
    width: 60px;
    height: 50px;
}
#msgPDA{
    color: rgb(4, 226, 189);
    font-size: 24px;
}
#msgPDA2{
    color: rgb(158, 173, 17);
    font-size: 24px;
}
#pda{
    width: 400px;
    height: 400px;
    background-color: black;
    margin: auto;
    text-align: center;
}

.control{
    order: 3;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.tableaux-bord{
    flex: row;
    justify-content: space-evenly;
    
    width: 1000px;
    height: 280px;
   
    text-align: center;
    padding: 20px 80px;

    border: rgb(39, 27, 27) solid 2px;
    background-color: rgb(121, 131, 139);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.tableaux-bord h3{
    margin: auto;
    padding-bottom: 20px;
}

.affichage{
    display: flex;
    justify-content: space-evenly;
}

.vitesse{
    border: solid black 2px;
    padding: 15px;
    background-color: rgb(200, 208, 214);
}

.vitesse-atterissage{
    border: solid black 2px;
    padding: 15px;
    background-color: rgb(200, 208, 214);
}

.gravite{
    border: solid black 2px;
    padding: 15px;
    background-color: rgb(200, 208, 214);
}

.pression{
    border: solid black 2px;
    padding: 15px;
    background-color: rgb(200, 208, 214);
}

.temperature{
    border: solid black 2px;
    padding: 15px;
    background-color: rgb(200, 208, 214);
}

.carburant{
    margin-left: 40px;
}

.carburant-vide{
    position: absolute;
    z-index:0;
    width: 250px;
    height: 30px;
    border-radius: 30px;
    background-color: rgb(223, 219, 213);
    border: black solid 2px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#carburant-plein{
    position: relative;
    z-index:1;

    width: 250px;
    height: 30px;

    border-radius: 30px;
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#btn-carburant{
    width: 100px;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


@font-face{
    font-family: 'digital-7';
    src: url('../../polices/digital-7.ttf');
}

body{
    font-family: 'digital-7';
}
#vitesse-vaiseaux{
    color: red;
    font-size: 48px;
}


.puissance{
    order:4;
    margin: auto;
    width: 150px;
    height: 100px;
    background-color: black;
    text-align: center;
}

.btn-reacteur{
    background-color: red;
    margin-left: 10px;
    float: left;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
.btn-accelerateur{
    background-color: green;
    margin-right: 10px;
    float: right;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}


.info-joueur{
    order: 5;
    padding: 60px;
    margin: auto;
}

.besoin{
    margin-bottom: 20px;
    border: rgb(39, 27, 27) solid 2px;
    border-radius: 30px;
    box-shadow: rgba(42, 42, 42, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    rotate: "180deg";
    margin-right: 5px;
}

.water{
    position: relative;
    background-color: rgb(49, 118, 165);
}

.food{
    position: relative;
    background-color: rgb(184, 120, 91);
}

.primary-info{
    display: flex;
}

#text-etat{
    padding: 20px;
}

.image{
    width: 40px;
    height: 40px;
    margin: 20px;
}

#barre-fatigue{
    z-index: 1;
    width: 300px;
    height: 80px;
    background-color: brown;
    border: solid black 0.5px;
    position: relative;
}
