@font-face {
    font-family: "Digital";
    src: url("../font/digital-7.ttf")
}
body {
    font-family: 'Digital', sans-serif;
    background: #fafafa;
}

#content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}

.card {
    border: solid 7px lawngreen;
}

.card-body {
    background-color:#0b283e;
}
#legume{
    margin: auto;
    border-radius: 2em;
    background-color:lightseagreen;
    width: 70px;
    height: 70px;
    padding-top: 10px;
}
#processuses{

}
#legume:hover{
    margin: auto;
    border-radius: 2em;
    background-color:lightcyan;
    width: 70px;
    height: 70px;
    padding-top: 10px;
}
#qte{
    color: green;
    font-size: 24px;
    bottom: 60px;
    left: 40px;
    font-size: 48px;
    position: relative;
}
#navBarBottom{
    background-color: black !important;
}
.progress {
    width: 400px;
    height: 35px;
    background: #e1e4e8;
    border-radius: 20px;
}

#cleUSB{
    background-image: url('../../src/img/cleUSB.png');
    background-size:100%;
    width: 50px;
    height: 150px;
    margin: auto;
}
.voyant{
    opacity: 25%;
    margin-left: 50px;
}
.voyantsTableauBord{
    margin: auto;
    display: contents;
}
#divVoyant{
    position: relative;
    left: 7px;
    top: -15px;
}
#collapse0{
    height: 200px !important;
    overflow-y: auto;
}
#labelVoyant{
    display: inline-flex;
    position: relative;
    bottom: 14px;
    width: 600px;
}
.recolterBtn{
    margin:auto;
    font-size: 25px;
    color: green;
}
#usbGauche{
    float: left;
    left: 50px;
    position: relative;
}
#usbDroite{
    float: right;
    right: 50px;
    position: relative;
}

#lecteur{
    color: cyan;
    width: 50px;
    height: 150px;
    margin: auto;
    border: 1px dashed cyan;
}
.ctxmenu
{
    position:absolute;
    min-width: 128px;
    height:auto;
    padding: 8px;
    margin:0;
    margin-left:32px;
    margin-top:-16px;
    border: 1px solid #999;
    background: #F8F8F8;
    box-shadow: 2px 2px 2px #AAA;
    z-index:11;
    overflow: visible;
}
.ctxline
{
    display:block;
    margin:0px;
    padding:2px 2px 2px 8px;
    border:1px solid #F8F8F8;
    border-radius:3px;
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
    overflow:visible;
}
.ctxline:hover
{
    border:1px solid #BBB;
    background-color: #F0F0F0;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
    from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
    endColorstr='#e6e6e6', GradientType=0);
}
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}